main{
   
    background-color:rgba(000, 000,000,0.3);
    text-align: center;
    padding: 20px 20px;
    color :white;
    height: 970px;
    width: 1400px;
    margin: 0 auto 0;
    
}

.background2{
     background-color:rgba(000, 000,000,0.6);
     height: 850px;
     width: 400px;
     margin: auto;
     text-align: left;
     padding-left: 30px;
     
     

}
 main #title{
    color:red;
    font-style: inherit;
    font-size: 75px; 
    font-weight: 900;
    font-family: cursive;
    
    
    
}
body{
    background-image: url('background_image.jpg');
}
#box{
    border: 1px;
    border-radius:10px;
    background-color: red ;
    padding: 12px 28px;
    font-weight: 1000;
    color: white;
    margin-left: 150px;

}

#name #contact #age{
    padding: 14px 80px;
}